* {
    box-sizing: border-box;
}

body {
    background: #111;
    display: grid;
    place-content: center;
    min-height: 100svh;
    margin: 0;
    padding: 0;
}



html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    display: grid;
    place-content: center;
    overflow: hidden;

    @media(width < 1200px) {
        canvas {
            /* filter: hue-rotate(180deg) saturate(50); */
        }

        &::after {
            font-family: sans-serif;
            color: #ddd;
            color: red;
            content: 'Screen is too small. Minimum size is 1200px';
            font-size: 2rem;
            position: absolute;

        }
    }

}

canvas {
    display: block;
}