* {
    box-sizing: border-box;
}

body {
    background: #111;
    display: grid;
    place-content: center;
    min-height: 100svh;
    margin: 0;
    padding: 0;
}



html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    display: grid;
    place-content: center;
    overflow: hidden;
    min-height: 100svh;

    @media(width < 1200px) {
        /* canvas {
            filter: hue-rotate(180deg) saturate(50);
        } */

        &::after {
            content: 'Minimum screen width is 1200px';
            position: absolute;
            inset: 10px 50% auto auto;
            transform: translateX(50%);
            text-align: center;

            background: rgba(120, 31, 31, 0.88);
            color: #ddddddd1;
            font-family: monospace ;
            font-size: 0.8rem;
            font-weight: 100;
            padding: 0.5rem 1.15rem;
            letter-spacing: 0.03rem;
        }
    }

}

main canvas {
    display: block;
    max-width: 100svw;
    max-height: 100svh;
}